* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: whitesmoke;
  }

  #landingScreen {
    height: 100vh;
  }
  
  .navbar{
    overflow: hidden;
    z-index:1; 
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  .portfolio-pic {
    margin-top: 180px;
    margin-left: 195px;
    width: 50%;
    height: auto;
    border-radius: 70%;
    border-color: rgb(48, 52, 63)!important;
    border-width: 5px;
  }
  
  .name {
    font-size: 80px;
    text-align: center;
    color: rgb(48, 52, 63)!important;
  }
  
  .title {
    font-size: 50px;
    text-align: center;
    color:  rgb(48, 52, 63)!important;
  }
  
  #name-title {
    margin-top: 250px;
    margin-left: -250px;
  }
 
  @media (max-width: 480px) {
    body {
      background-color: black;
      }
      .portfolio-pic{
        height: auto;
        width: 100%;
        margin-left: 20%;
      }

      .name{
        font-size: 45px;
        margin-top: 270px;
        text-align: center;
        margin-left: -60px;
      }

      .title{
        font-size: 25px;
        margin-left: -60px;
        text-align: center;
      }
}