.foodDictionary {
  height: 50vh;
  width: 100%;
}

a {
  text-decoration: none;
  text-align: center;
  padding: 20px;
  color: black;
}

html {
  scroll-behavior: smooth;
}

.navbar,
.navbar-nav,
.navbar-nav > li {
  float: none !important;
  background-color: rgb(48, 52, 63) !important;
  height: 100px;
}

.navbar-nav {
  margin-left: 930px;
}

.nav-link {
  background-color: rgb(48, 52, 63) !important;
  color: whitesmoke !important;
  margin-top: 10px;
  margin-right: 25px;
}

.navbar {
  display: flex;
}

.navbar > li {
  flex: 1;
}

/* #animate-text,
.landingSubHeading {
  height: 125px;
  background-image: linear-gradient(
    167deg,
    #f7b2eddc 0%,
    #9ef796 29%,
    #fdd8aee3 67%,
    rgb(146, 189, 224) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: infinite reverse textclip 5s;
  font-size: 100px;
  text-align: center;
  margin-right: -200px;
  flex-wrap: wrap;
  margin-top: 150px;
} */

/* .landingSubHeading {
  font-size: 40px;
  margin-top: 5px;
} */

.mainBody,
.containerMain {
  background: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.projectSection,
.about-summary,
.resume-coming-soon {
  border-left: solid 2px #edf2f4;
  justify-content: center;
  text-align: justify;
  color: rgb(48, 52, 63);
}

#resume-sign {
  height: 100%;
  max-width: 50%;
  margin-left: 75px;
  border-style: solid;
  border-color: rgb(48, 52, 63);
}

.about-summary,
.resume-coming-soon {
  margin-right: -150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-summary,
#about {
  margin-top: 165px;
}

#about-div {
  height: 900px;
  margin-top: 150px;
}

#resume-border {
  height: 900px;
}

.project1 {
  width: 100%;
  margin-right: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  color: black;
}

h1 {
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
}

.border {
  height: 5px;
  background-image: linear-gradient(#e7ecef, #8b8c89);
}

#resume, #resume-sign{
  margin-top: 200px;
}

.about,
#resume,
#projects,
#contactTitle {
  font-size: 30px;
  text-align: center;
  margin-left: 0px;
  padding: 5px;
  color: black;
}

#projects {
  color: black;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
#project-images {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-left: 250px;
}

.background-color-carousel {
  background-color: rgb(48, 52, 63) !important;
  height: 800px;
}

.mySlides {
  display: none;
}

.carousel-item .img-fluid {
  height: 100%;
  align-items: center;
  margin-top: 125px;
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -150px;
  margin-left: 30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  /* background-color: rgb(43, 40, 40); */
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  background-color: rgb(43, 40, 40);
  margin-left: 260px;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 50%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#contact-form {
  margin-left: 400px;
  margin-top: 400px;
}

.fa-brands,
.fa-envelope {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.contact-list {
  display: inline;
  margin-left: 50%;
  list-style: none;
  text-align: center;
  margin-left: 170px;
  margin-top: 200px;
}

.contactForm {
  height: 100vh;
}

#message {
  height: 200px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

li {
  display: inline;
  align-items: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 586px) {
  .btn-large {
    margin-left: 100px;
  }

  .landingPic {
    flex-direction: column;
    margin-left: 50px;
    margin-top: -550px;
  }

  #animate-text {
    margin-top: 350px;
    flex-direction: column;
    display: flex;
    order: 2;
  }

  .landingSubHeading {
    margin-top: -56px;
  }

  .welcomeMessage {
    flex-direction: column;
    display: flex;
    order: 4;
  }

  .landingNav,
  .mainNav,
  .nav-wrapper {
    flex-direction: column;
    display: flex;
  }

  #animate-text {
    overflow-wrap: break-word;
    font-size: 50px;
  }

  .container {
    flex-direction: column;
    display: flex;
    overflow-wrap: normal;
  }

  .flex-container {
    flex-direction: column;
  }

  .projectSection,
  .about-summary,
  .resume-coming-soon {
    border-left: none;
  }

  .projectSection {
    background-color: black;
  }

  .project1 {
    display: flex;
    flex-direction: column;
    margin-left: -700px;
    margin-right: -100px;
  }

  .project2 {
    flex-direction: column;
    margin-left: 400px;
    margin-top: 150px;
  }
}
