/* CSS HEX */
/* --platinum: #e7e7e6ff;
--blue-green: #379dc6ff;
--fuchsia-purple: #cd2c78ff;
--middle-green-yellow: #9db553ff;
--rich-black-fogra-39: #040404ff; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingBody {
  background: linear-gradient(#028090, #114b5f);
  height: 100vh;
  font-family: "Bitter", serif;
}

.nav-wrapper,
.landingNav {
  background-image: linear-gradient(#379dc6ff, #72ddf1) !important;
  display: flex;
}

.landingNav {
  height: 95px;
  justify-content: right;
  display: flex;
  margin-right: 20px;
}

.btn-large {
  background-color: #9db553ff;
  margin: 10px 10px 10px 10px;
  justify-content: left;
  font-family: "Bitter", serif;
}

h1 {
  position: relative;
}

.landingPic {
  width: auto;
  height: 40%;
  border-radius: 50%;
  margin-top: -325px;
  margin-left: -154px;
  position: absolute;
}

.foodDictionary {
  height: 50vh;
  width: 100%;
}

a {
  text-decoration: none;
  text-align: center;
  padding: 20px;
  color: white;
}

html {
  scroll-behavior: smooth;
}

#animate-text,
.landingSubHeading {
  height: 125px;
  background-image: linear-gradient(
    167deg,
    #f7b2eddc 0%,
    #9ef796 29%,
    #fdd8aee3 67%,
    rgb(146, 189, 224) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: infinite reverse textclip 5s;
  font-size: 100px;
  text-align: center;
  margin-right: -20px;
  flex-wrap: wrap;
  margin-top: 150px;
}

.landingSubHeading {
  font-size: 40px;
  margin-top: 12px;
}

.mainNav {
  margin-left: 300px;
  background-image: linear-gradient(#379dc6ff, #72ddf1) !important;
  height: 75px;
}

.mainBody,
.containerMain {
  background: linear-gradient(#028090, #114b5f);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projectTitle {
  margin-left: 15px;
  color: white;
}

.projectSection,
.about-summary,
.resume-coming-soon {
  border-left: solid 2px #edf2f4;
  justify-content: center;
  text-align: center;
  color: white;
}

.about-summary,
.resume-coming-soon {
  margin-right: -150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.project1 {
  width: 100%;
  margin-right: 50px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  color: white;
}

h1 {
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
}

.flex-item-left {
  padding: 12px;
  flex: 50%;
  height: 285px;
  margin-left: 81px;
}

.flex-item-right {
  padding: 30px;
  flex: 25%;
  display: flex;
  height: 473px;
}

.portfolio-pic {
  max-width: 100%;
  height: 30%;
  border-radius: 50%;
  border: rgb(146, 189, 224) 5px dashed;
}

.welcomeMessage {
  margin-top: -50px;
  color: #e7ecef;
  font-size: 23px;
  width: 100%;
  text-align: center;
}

.about,
#resume,
#projects {
  font-size: 30px;
  text-align: center;
  margin-left: 24px;
  padding: 5px;
  color: white;
}

#projects {
  color: white;
  font-size: 30px;
  text-align: center;
}

.project1 {
  max-width: 100%;
  padding: 11px;
  float: right;
  margin-right: -100px;
  position: relative;
}

.project3 {
  position: relative;
  margin-top: 75px;
  float: right;
  max-width: 50%;
  max-height: 372px;
}

.project2 {
  position: relative;
  max-width: 50%;
  max-height: 473px;
  padding: 14px;
  float: right;
  margin-right: -100px;
}

#contact {
  color: white;
  background-color: #044b7f;
}

input [type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #114b5f;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: verticle;
}

input [type="submidt"] {
  background-color: #028090;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input [type="submidt"] :hover {
  background-color: aquamarine;
}

.container-contact {
  border-radius: 5px;
  background-color: #114b5f;
  padding: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 586px) {
  body {
    background-color: pink;
  }

  nav {
    flex-direction: column;
  }

  #animate-text {
    overflow-wrap: break-word;
    font-size: 50px;
  }

  .flex-container {
    flex-direction: column;
  }

  /* .flex-item-left {
    flex-direction: column;
    order: 2;
  }
  .gallery {
    flex-direction: column;
    order: 4;
  }
  .footer {
    flex-direction: column;
  }
  div.side {
    flex-direction: column;
    order: 2;
  } */
}
